* {
  font-family: Poppins;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

nav {
  position: sticky;
  top: 0;
  background-color: orange;
  z-index: 1;
}

.nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 10px;
}

.nav-list a {
  text-decoration: none;
  color: black;
  padding: 0 2%;
}
footer::before {
  display: block;
  clear: both;
  height: 100px;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  border: 2px solid black;
  width: 99.7%;
  text-align: center;
  padding: 10px 0;
  margin-top: 100px;
  background-color: orange;
}

.header {
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 2.5rem;
}

.whole-container {
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15%;
  grid-template-rows: auto auto;
  gap: 2%;
  margin: 50px 0 100px;
  justify-content: center;
  padding: 0 3%;
  overflow: visible;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item > img {
  width: 100%;
}

.details {
  display: flex;
  justify-content: space-between;
}

.details > p {
  font-weight: 700;
  font-size: 1.2rem;
}

.fa-regular {
  cursor: pointer;
}

button {
  background-color: orange;
  padding: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(48, 32, 1);
  color: white;
}

img {
  transition: 0.3s ease-in-out;
  z-index: 0;
}

img:hover {
  -webkit-transform: scale(1);
  transform: scale(0.8);
}
